@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

.navBar{
    width: 12%;
    height: 100%;
    background-color: blueviolet;
}

.navBar_logo{
    font-family: 'Merienda One', cursive;
}